{
    "extends": [
        "eslint:recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "no-console": 0,
        "quotes": [
            2,
            "single"
        ]
    }
}